- const pathToRoot = '../../'
doctype html
html(lang="en")
  head
    include ../header.pug
    title Convocatorias
    style.
      .title-hero {
        font-size: 4rem
      }
  body
    section.hero.is-primary.is-medium
      .hero-head 
        include ../navbar.pug
      .hero-body
        .container.has-text-centered
          h1.title.title-hero Convocatorias
    main.section#app
      .container-fluid
        .columns(v-for='i in Math.ceil(pagination.itemsPerPage / 3)')
          .column.is-4(v-for='j in 3')
            .card(v-if='content.data[(j + (3 * (i - 1))) - 1] !== undefined')
              .card-image
                figure.image.is-4by3
                  img(src='https://www.iagua.es/sites/default/files/styles/thumbnail-830x455/public/glaciar_perito_moreno_0.jpg?itok=9a_iNcsz', alt='Placeholder image')
              .card-content
                .columns.is-gapless.is-multiline
                  .column.is-full
                    .notification.is-success
                      p.title.is-4 {{ content.data[(j + (3 * (i - 1))) - 1] }}
                      p.subtitle.is-6 SEMARNAT
                  .column.is-three-fifths
                    .notification.has-text-centered.is-success.is-inverted
                      p
                        b Etapa: Lanzamiento
                      progress.progress.is-success(value='33', max='100') 33%
                  .column.is-two-fifths
                    .notification.has-text-centered
                      p
                        b {{ (j + (3 * (i - 1))) - 1 }}
                      p Participates
                .content
                  p(hidden='')
                    | Desarrollar una app web que permita a la población conocer sobre el Cambio Climático y colaborar con acciones
                    | para su mitigación.
                  p
                    a(href=gUrl + 'announcement/464646464646') ver más...
        .notification.is-white
          .content
            p {{ content.data }}
          div(v-if='pagination.pags > 0')
            nav.pagination.is-centered(role='navigation', aria-label='pagination')
              a.pagination-previous(@click='paginations().previous()') Anterior
              a.pagination-next(@click='paginations().next()') Siguiente
              ul.pagination-list
                li(v-if='pagination.shown.last > 10')
                  a.pagination-link(@click='paginations().first()') 1
                li(v-if='pagination.shown.last > 10')
                  span.pagination-ellipsis …
                li(v-for='i in pagination.shown.pages')
                  a.pagination-link(:class="{ 'is-current' : pagination.current === i }" @click='paginations().goto(i)') {{ i }}
                li(v-if='pagination.shown.last !== pagination.pags')
                  span.pagination-ellipsis …
                li(v-if='pagination.shown.last !== pagination.pags')
                  a.pagination-link(@click='paginations().last()') {{ pagination.pags }}
          div(v-else)
            p No Announcements
  include ../footer.pug
script(src=pathToRoot + 'vue/vue.min.js')
script(src=pathToRoot + 'vue/controllers/test.js')
script(src=pathToRoot + 'vue/controllers/announcement/index.js')