- const pathToRoot = "../../"
doctype html
html(lang="en")
	head
		include ../header.pug
		link(rel="stylesheet", href=pathToRoot + "css/index.css")
		title JustBlocks
	body
		include ../navbar.pug
		#container
			h1.title Announcement
			p#creationDate 
			p#evaluationDate 
			p#deadlineDate 
			p#content 

		include ../loginModal.pug
		include ../footer.pug
		script(src=pathToRoot + "bulma-carousel/bulma-carousel.min.js")
		script(src=pathToRoot + "js/announcement/view.js")
		script.
			const id = "#{id}"