doctype html
html(lang="en")
	head
		include header.pug
		link(rel="stylesheet", href="../css/index.css")
		title JustBlocks
	body
		include navbar.pug
		
		form#signUp(action="#", method="POST")
			div(class="container")
				label(for="name") Nombre
					input(type="input" id="name" name="name" placeholder="Nombre")
				br
				br
				label(for="lastName") Apellido
					input(type="input" id="lastName" name="lastName" placeholder="Apellido(s)")
				br
				br
				label(for="email") Correo electrónico
					input(type="email" id="email" name="email" placeholder="Correo elctrónico")
				br
				br
				label(for="password") Contraseña
					input(type="password" id="password" name="password" placeholder="Password" class="form-control")
				br
				br
				label(for="passwordConfirmation") Confirmación de contraseña
					input(type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirmación de contraseña")
				br
				br
				label(for="dateOfBirth") Fecha de nacimiento
					input(type="date" id="dateOfBirth" name="dateOfBirth" min="1900-01-01" max="2000-31-31")
				br
				br
				input(type="submit" value="Registrarse")
		include loginModal.pug
		include footer.pug
		script(src="/bulma-carousel/bulma-carousel.min.js")