/* Twitter */
.button.is-twitter{
    background-color:#1da1f3;
    border-color:transparent;
    color:#fff
}
.button.is-twitter.is-hovered,.button.is-twitter:hover{
    background-color:#1496ed;
    border-color:transparent;
    color:#fff
}
.button.is-twitter.is-focused,.button.is-twitter:focus{
    border-color:transparent;
    color:#fff
}
.button.is-twitter.is-focused:not(:active),.button.is-twitter:focus:not(:active){
    -webkit-box-shadow:0 0 0 .125em rgba(46, 121, 170, 0.25);
    box-shadow:0 0 0 .125em rgba(46, 121, 170, 0.25)
}
.button.is-twitter.is-active,.button.is-twitter:active{
    background-color:#118fe4;
    border-color:transparent;
    color:#fff
}
.button.is-twitter[disabled]{
    background-color:#1da1f3;
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.button.is-twitter.is-inverted{
    background-color:#fff;
    color:#1da1f3
}
.button.is-twitter.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-twitter.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#1da1f3
}
.button.is-twitter.is-loading:after{
    border-color:transparent transparent #fff #fff!important
}
.button.is-twitter.is-outlined{
    background-color:#fff;
    border-color:#1da1f3;
    color:#1da1f3
}
.button.is-twitter.is-outlined:focus,.button.is-twitter.is-outlined:hover{
    background-color:#1da1f3;
    border-color:#1da1f3;
    color:#fff
}
.button.is-twitter.is-outlined.is-loading:after{
    border-color:transparent transparent #1da1f3 #1da1f3!important
}
.button.is-twitter.is-outlined[disabled]{
    background-color:transparent;
    border-color:#1da1f3;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#1da1f3
}
.button.is-twitter.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-twitter.is-inverted.is-outlined:focus,.button.is-twitter.is-inverted.is-outlined:hover{
    background-color:#fff;
    color:#1da1f3
}
.button.is-twitter.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#fff
}
/* /Twitter */

/* Facebook */
.button.is-fb{
    background-color:#3b5999;
    border-color:transparent;
    color:#fff
}
.button.is-fb.is-hovered,.button.is-fb:hover{
    background-color:#486ab4;
    border-color:transparent;
    color:#fff
}
.button.is-fb.is-focused,.button.is-fb:focus{
    border-color:transparent;
    color:#fff
}
.button.is-fb.is-focused:not(:active),.button.is-fb:focus:not(:active){
    -webkit-box-shadow:0 0 0 .125em rgba(46, 121, 170, 0.25);
    box-shadow:0 0 0 .125em rgba(46, 121, 170, 0.25)
}
.button.is-fb.is-active,.button.is-fb:active{
    background-color:#4e75c9;
    border-color:transparent;
    color:#fff
}
.button.is-fb[disabled]{
    background-color:#3b5999;
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.button.is-fb.is-inverted{
    background-color:#fff;
    color:#3b5999
}
.button.is-fb.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-fb.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#3b5999
}
.button.is-fb.is-loading:after{
    border-color:transparent transparent #fff #fff!important
}
.button.is-fb.is-outlined{
    background-color:#fff;
    border-color:#3b5999;
    color:#3b5999
}
.button.is-fb.is-outlined:focus,.button.is-fb.is-outlined:hover{
    background-color:#3b5999;
    border-color:#3b5999;
    color:#fff
}
.button.is-fb.is-outlined.is-loading:after{
    border-color:transparent transparent #3b5999 #3b5999!important
}
.button.is-fb.is-outlined[disabled]{
    background-color:transparent;
    border-color:#3b5999;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#3b5999
}
.button.is-fb.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-fb.is-inverted.is-outlined:focus,.button.is-fb.is-inverted.is-outlined:hover{
    background-color:#fff;
    color:#3b5999
}
.button.is-fb.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#fff
}
/* /Facebook */

/* Google Plus */
.button.is-gplus{
    background-color:#e0483a;
    border-color:transparent;
    color:#fff
}
.button.is-gplus.is-hovered,.button.is-gplus:hover{
    background-color:#ee4c3e;
    border-color:transparent;
    color:#fff
}
.button.is-gplus.is-focused,.button.is-gplus:focus{
    border-color:transparent;
    color:#fff
}
.button.is-gplus.is-focused:not(:active),.button.is-gplus:focus:not(:active){
    -webkit-box-shadow:0 0 0 .125em rgba(236, 82, 55, 0.25);
    box-shadow:0 0 0 .125em rgba(236, 82, 55, 0.25)
}
.button.is-gplus.is-active,.button.is-gplus:active{
    background-color:#f84e3e;
    border-color:transparent;
    color:#fff
}
.button.is-gplus[disabled]{
    background-color:#e0483a;
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none
}
.button.is-gplus.is-inverted{
    background-color:#fff;
    color:#e0483a
}
.button.is-gplus.is-inverted:hover{
    background-color:#f2f2f2
}
.button.is-gplus.is-inverted[disabled]{
    background-color:#fff;
    border-color:transparent;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#e0483a
}
.button.is-gplus.is-loading:after{
    border-color:transparent transparent #fff #fff!important
}
.button.is-gplus.is-outlined{
    background-color:#fff;
    border-color:#e0483a;
    color:#e0483a
}
.button.is-gplus.is-outlined:focus,.button.is-gplus.is-outlined:hover{
    background-color:#e0483a;
    border-color:#e0483a;
    color:#fff
}
.button.is-gplus.is-outlined.is-loading:after{
    border-color:transparent transparent #e0483a #e0483a!important
}
.button.is-gplus.is-outlined[disabled]{
    background-color:transparent;
    border-color:#e0483a;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#e0483a
}
.button.is-gplus.is-inverted.is-outlined{
    background-color:transparent;
    border-color:#fff;
    color:#fff
}
.button.is-gplus.is-inverted.is-outlined:focus,.button.is-gplus.is-inverted.is-outlined:hover{
    background-color:#fff;
    color:#e0483a
}
.button.is-gplus.is-inverted.is-outlined[disabled]{
    background-color:transparent;
    border-color:#fff;
    -webkit-box-shadow:none;
    box-shadow:none;
    color:#fff
}
/* /Google Plus */