.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
input.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: white;
  border-color: #dbdbdb;
  color: #363636;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
}

input.form-control:focus, input.form-control.is-focused, input.form-control:active, input.form-control.is-active {
  outline: none;
}

input.form-control[disabled] {
  cursor: not-allowed;
}

input.form-control::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

input.form-control::-webkit-form-control-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

input.form-control:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

input.form-control:-ms-form-control-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

input.form-control:hover, input.form-control.is-hovered {
  border-color: #b5b5b5;
}

input.form-control:focus, input.form-control.is-focused, input.form-control:active, input.form-control.is-active {
  border-color: #3273dc;
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

input.form-control[disabled]{
  background-color: whitesmoke;
  border-color: whitesmoke;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #7a7a7a;
}

input.form-control[disabled]::-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

input.form-control[disabled]::-webkit-form-control-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

input.form-control[disabled]:-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

input.form-control[disabled]:-ms-form-control-placeholder {
  color: rgba(122, 122, 122, 0.3);
}

input.form-control[readonly] {
  -webkit-box-shadow: none;
          box-shadow: none;
}

select.form-control {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}
select.form-control:not(.is-multiple) {
  height: 2.25em;
}
select.form-control:not(.is-multiple)::after {
  border: 1px solid #3273dc;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.5em;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 0.5em;
  margin-top: -0.375em;
  right: 1.125em;
  top: 50%;
  z-index: 4;
}
select.form-control select:focus, select.form-control select.is-focused, select.form-control select:active, select.form-control select.is-active {
  outline: none;
}
select.form-control select[disabled] {
  cursor: not-allowed;
}
select.form-control select::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
select.form-control select::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
select.form-control select:-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
select.form-control select:-ms-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}
select.form-control select:hover, select.form-control select.is-hovered {
  border-color: #b5b5b5;
}
select.form-control select:focus, select.form-control select.is-focused, select.form-control select:active, select.form-control select.is-active {
  border-color: #3273dc;
  -webkit-box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
          box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}
select.form-control select[disabled] {
  background-color: whitesmoke;
  border-color: whitesmoke;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #7a7a7a;
}
select.form-control select[disabled]::-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}
select.form-control select[disabled]::-webkit-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}
select.form-control select[disabled]:-moz-placeholder {
  color: rgba(122, 122, 122, 0.3);
}
select.form-control select[disabled]:-ms-input-placeholder {
  color: rgba(122, 122, 122, 0.3);
}
select.form-control select::-ms-expand {
  display: none;
}
select.form-control select[disabled]:hover {
  border-color: whitesmoke;
}
select.form-control select:not([multiple]) {
  padding-right: 2.5em;
}
select.form-control select[multiple] {
  height: unset;
  padding: 0;
}
select.form-control select[multiple] option {
  padding: 0.5em 1em;
}
select.form-control:hover::after {
  border-color: #363636;
}