doctype html
html(lang="en")
	head
		include ../header.pug
		link(rel="stylesheet", href="../css/index.css")
		title JustBlocks
	body
		include ../navbar.pug
		h1 Iniciaste sesión

		include ../loginModal.pug
		script(src="../../js/loginModal.js")
		include ../footer.pug
		script(src="../bulma-carousel/bulma-carousel.min.js")