doctype html
html(lang="en")
	head
		include ../header.pug
		link(rel="stylesheet", href="../css/index.css")
		title JustBlocks
	body
		include ../navbar.pug
		h1 Iniciaste sesión 
		h1 #{user.name.first} #{user.name.last}
		h1 #{user.email}

		include ../loginModal.pug
		include ../footer.pug
		script(src="../bulma-carousel/bulma-carousel.min.js")