doctype html
html(lang="en")
	head
		include ../header.pug
		link(rel="stylesheet", href="../css/index.css")
		title JustBlocks
	body
		include ../navbar.pug
		h1.title Iniciaste sesión 
		h1.title #{user.name.first} #{user.name.last}
		h1.title #{user.email}
		a(href="/app/logout") Salir
		include ../loginModal.pug
		include ../footer.pug
		script(src="../bulma-carousel/bulma-carousel.min.js")